{% extends 'base/main.html' %} {% load static %} {% block content %}

<!-- about section start -->
<section class="about" id="about">
  <div class="max-width">
    <h2 class="title">About me</h2>
    <div class="about-content">
      <div class="column left">
        <img src="{% static 'images/about.png' %}" alt="" />
      </div>
      <div class="column right">
        <div class="text">
          I'm Mohammad and I'm a <span class="typing-2" style="  color: #facf36;
  font-weight: 500;">
        </div>
        <p>
          Self-taught web developer who is in love with programming.<br />
          I enjoy learning about new technologies and have a passion for Artificial intelligence development  especially computer vision. <br>
          If I am not programming on my computer, I often read, play video games, watch movie or spend time with my family.
        </p>
        <a href="https://quera.ir/qcv/pdf" target="_blank">Download CV</a>
      </div>
    </div>
  </div>
</section>

{% endblock %}
