{% load static %}

<head>
  <style>
    footer {
      background: #111;

      padding: 15px 23px;
      color: #fff;
      text-align: center;
    }
    .footer a {
      color: white;
      gap: 2em;
    }
    footer span a:hover {
      text-decoration: underline;
    }
  </style>
</head>

<footer>
    <div class="footer">
    <a href="https://www.instagram.com/_mohammad._.hsn_/" target="_blank"><i class="fab fa-instagram fa-2x"  style="color:white;gap: 2em;"></i></a>
      <a href="https://github.com/mhmmd-hsn" target="_blank"><i class="fab fa-github fa-2x" style="color:white;gap: 2em;"></i></a>
      <a href="https://t.me/Mhmmd0_0hsn" target="_blank"><i class="fab fa-telegram fa-2x" style="color:white;gap: 2em;"></i></a>
      </div>
</footer>
