{% extends 'base/main.html' %} {% load static %} {% block content %}



<!-- home section start -->
<section class="home" id="home">
  <div class="max-width">
    <div class="home-content">
      <div class="text-1">Hi, I'm</div>
      <div class="text-2">Mohammad</div>
      <div class="text-2">Hosseini</div>
      <div class="text-3">And I'm a junior <span class="typing" style="  color: #FFC300 ;
  font-weight: 500;"></span></div>
      
      <a href="https://www.instagram.com/_mohammad._.hsn_/" target="_blank"><i class="fab fa-instagram fa-2x"  style="color: #0f292f;"></i></a>
      <a href="https://github.com/mhmmd-hsn" target="_blank"><i class="fab fa-github fa-2x" style="color: #0f292f;"></i></a>
      <a href="https://t.me/Mhmmd0_0hsn" target="_blank"><i class="fab fa-telegram fa-2x" style="color: #0f292f;"></i></a>
    </div>
  </div>
</section>

<!-- interests section start -->
    <section class="services" id="services">
        <div class="max-width">
            <h2 class="title" >My Interests</h2>
            <div class="serv-content">
                <div class="card">
                    <div class="box">
                        <i class="fas fa-code fa-3x"></i>
                        <div class="text">Web Development</div>
                        <p>It's been a while that I have started learning about web development  and try to make  new things, mainly by Django and React.</p>
                    </div>
                </div>
                <div class="card">
                    <div class="box">
                        <i class="fas fa-user-tie fa-3x"></i>
                        <div class="text">BusinessAdministration</div>
                        <p>I often read about business administration daily and I love help teams to improve and achieve their goals in their businesses.</p>
                    </div>
                </div>
                <div class="card">
                    <div class="box">
                        <i class="fas fa-brain fa-3x"></i>
                        <div class="text">ArtificialIntelligence</div>
                        <p>it's exciting to transform our reality into something that simplifies complex tasks, and helps us to create new products and services.</p>
                    </div>
                </div>
               </div>
            </div>
        </div>
    </section>

    <!-- skills section start -->
    <section class="skills" id="skills">
        <div class="max-width">
            <h2 class="title">My skills</h2>
            <div class="skills-content">
                <div class="column left">
                    <div class="text">My creative skills & experiences.</div>
                    <p>my programming journey started with c&c++ at university classes  then I began to learn python on my own and got interested in learning more about different languages and popular frameworks , now I'm experienced with technologies like:</p>
                    <br>
                    <div class="skill--wrapper">
                    {% for tag  in skills%}
                    <div class="skill--tag">
                        <span>{{tag}}</span>
                    </div>
                    {% endfor %}
                    </div>
                </div>
                <div class="column right">
                    <div class="bars">
                        <div class="info">
                            <span>Python</span>
                            <span>80%</span>
                        </div>
                        <div class="line html"></div>
                    </div>
                    <div class="bars">
                        <div class="info">
                            <span>JavaScript</span>
                            <span>60%</span>
                        </div>
                        <div class="line css"></div>
                    </div>
                    <div class="bars">
                        <div class="info">
                            <span>Django</span>
                            <span>70%</span>
                        </div>
                        <div class="line js"></div>
                    </div>
                    <div class="bars">
                        <div class="info">
                            <span>React</span>
                            <span>40%</span>
                        </div>
                        <div class="line php"></div>
                    </div>
                    <div class="bars">
                        <div class="info">
                            <span>HTML&CSS</span>
                            <span>50%</span>
                        </div>
                        <div class="line mysql"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="projects">
        <div class="max-width">
            <h2 class="title">Featured Projects</h2>
            <div class="serv-content">
                {% for project in projects %}
                <div class="card">
                    <div class="box">
                        <a href="{{project.Github}}" target="blank">
                        <img class="project--image" src="{{project.thumbnail.url}}" alt="" >
                        <div class="text">{{project.title}}</div>
                        </a>
                        <div class="tags--wrapper">
                        {% for tag in project.tags.all %}
                            <div class="tag">
                                <span>{{tag}}</span>
                            </div>
                        {% endfor %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>

{% endblock %}
